html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

body {
	background: #080808;
}

.root {
	overflow-x: hidden;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	border: none;
}

img {
	display: block;
}

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(222, 222, 222, 0.1);
	border-radius: 5px;
	border: 1px solid rgba(200, 200, 200, 0.2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}