* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

body {
	background: #080808;
	overflow-x: hidden;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	border: none;
}

img {
	display: block;
}

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: transparent;
}