@import "styles_lib/variables";
@import "styles_lib/mixins";

.delivery {
	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 80px 100px 80px 100px;
		position: relative;

		@include desktop-s {
			padding: 50px 100px 50px 100px;
		}

		@include tablet {
			padding: 50px;
		}

		@include mobile-l {
			padding: 30px 20px;
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
		width: 100%;

		@include desktop-s {
			align-items: center;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 50px;

		@include tablet {
			width: 100%;
			gap: 50px;
		}
	}

	&__shipping {
		display: flex;
		justify-content: center;
		align-items: center;

		@include tablet {
			flex-direction: column;
		}
	}

	&__img {
		z-index: 1;
		position: relative;
		display: block;

		&:after {
			position: absolute;
			left: -2px;
			top: -2px;
			content: "";
			background-color: #080808;
			width: calc(100% + 4px);
			height: calc(100% + 4px);
			z-index: 2;
			border-radius: 50%;
			opacity: 0.5;
			transition: opacity 400ms ease-in-out;

			@include tablet {
				display: none;
			}
		}

		&:hover:after {
			opacity: 0;
		}

		&_dinamo {
			@include background-image("delivery/delivery_icon_1.png", cover, center);
			min-width: 120px;
			height: 120px;

			@include desktop-s {
				min-width: 80px;
				height: 80px;
			}

			@include tablet {
				min-width: 140px;
				height: 140px;
				margin-bottom: 30px;
			}
		}

		&_spiral {
			@include background-image("delivery/delivery_icon_2.png", cover, center);
			min-width: 120px;
			height: 120px;

			@include desktop-s {
				min-width: 80px;
				height: 80px;
			}

			@include tablet {
				min-width: 140px;
				height: 140px;
				margin-bottom: 30px;
			}
		}

		&_glovo {
			@include background-image("delivery/delivery_icon_3.svg", cover, center);
			min-width: 120px;
			height: 120px;

			@include desktop-s {
				min-width: 80px;
				height: 80px;
			}

			@include tablet {
				min-width: 140px;
				height: 140px;
				margin-bottom: 30px;
			}
		}
	}

	&__img:not(:last-child) {
		border-radius: 50%;
	}

	&__description {
		font-family: "Noto Sans", sans-serif;
		max-width: 405px;
		font-weight: 700;
		font-size: 18px;
		line-height: 25px;
		color: $primary-font-color;
		text-align: left;
		margin-left: 30px;

		@include desktop-s {
			font-size: 16px;
		}

		@include tablet {
			font-size: 18px;
			text-align: center;
			margin-left: 0;
		}
	}

	&__img-big {
		height: 100%;
		margin-left: 30px;

		@include desktop-s {
			margin-left: 60px;
			width: 50%;
			height: min-content;
		}

		@include tablet {
			display: none;
		}
	}

	&__decoration {
		position: absolute;

		&_1 {
			left: -170px;
			top: 0;
			transform: rotate(-78deg);

			@include tablet {
				left: 0;
				top: 0;
				width: 18vw;
				transform: translateX(-60%) rotate(-78deg);
			}

			@include mobile-l {
				left: 0;
				bottom: 0;
				top: unset;
				transform: translateX(-40%) translateY(80%) rotate(0deg);
				width: 50%;
			}
		}

		&_2 {
			right: -160px;
			bottom: -90px;
			transform: rotate(102deg);

			@include tablet {
				right: 0;
				bottom: 0;
				width: 18vw;
				transform: translate(55%, 50%) rotate(102deg);
			}

			@include mobile-l {
				display: none;
			}
		}

		&_3 {
			left: -75px;
			bottom: 20px;
			transform: rotate(20deg);

			@include tablet {
				left: 0;
				bottom: 0;
				width: 18vw;
				transform: translate(30%, 50%) rotate(20deg);
				display: none;
			}

			@include mobile-l {
				display: none;
			}
		}
	}
}