@import "styles_lib/variables";
@import "styles_lib/mixins";

.dishes {
	width: 100%;

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		max-width: 100%;
		width: max-content;
		margin: 0 auto;
		padding: 87px 0 80px 0;

		@include desktop-s {
			padding: 50px 0 50px 0;
		}

		@include mobile-l {
			padding: 30px 20px 30px 20px;
		}
	}

	&__description {
		@include tablet {
			max-width: calc(100% - 100px);
		}
	}

	&__list-container {
		position: relative;
		width: 100%;
	}

	&__slide {
		position: absolute;
		background: transparent;
		padding: 10px;
		z-index: 3;
		width: 80px;
		height: 80px;
		cursor: pointer;
		top: calc(70% - 10px);

		@include tablet {
			display: none;
		}

		&_left {
			left: 100px;
			transform: translateY(-50%);
		}

		&_right {
			right: 100px;
			transform: translateY(-50%) scale(-1, -1);
		}

		&:hover {
			.dishes__slide-icon {
				opacity: 0;
			}

			.dishes__slide-circle {
				opacity: 0.7;
			}

			.dishes__slide-icon_hover {
				opacity: 1;
			}
		}

		&:active {
			.dishes__slide-icon {
				opacity: 0;
			}

			.dishes__slide-icon_hover {
				opacity: 1;
				transform: translate(-50%, -50%) scale(.8);
			}

			.dishes__slide-circle {
				opacity: 0.7;
				border-width: 4px;
				background: rgba(255, 255, 255, .2);
			}
		}
	}

	&__slide-circle {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 70px;
		height: 70px;
		border-width: 2px;
		border-style: solid;
		border-color: white;
		border-radius: 50%;
		opacity: 0;
		transition: opacity 100ms ease-in-out;
	}

	&__slide-icon {
		position: absolute;
		left: calc(50% - 3px);
		top: 50%;
		width: 24px;
		height: 41px;
		transform: translate(-50%, -50%);
		opacity: 0.6;

		&_hover {
			transition: opacity 100ms ease-in-out,
									transform 100ms ease-in-out;
			opacity: 0;
		}
	}

	&__scroll-list {
		display: flex;
		overflow-x: scroll;
		gap: 5px;
		padding-bottom: 10px;

		@include mobile-l {
			flex-direction: row;
			flex-wrap: wrap;
		}
	}

	&__card {
		width: 288px;
		height: 508px;
		flex-shrink: 0;
		position: relative;

		@include tablet {
			width: 196.8px;
			height: 304.8px;
		}

		@include mobile-l {
			width: calc(50% - 5px);
			height: auto;

			&:before {
				content: '';
				display: block;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				padding-top: 100%;
			}

			&:after {
				display: none;
			}

			.dishes__img {
				object-fit: cover;
			}
		}

		&:after {
			content: '';
			background-color: rgba(0, 0, 0, .6);
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 2;
			transition: background-color 200ms ease-in-out;
		}

		&:hover {
			.dishes__button {
				opacity: 1;
				transform: translate(-50%, -50%) scaleX(1);
			}
		}

		&:hover:after {
			background: rgba(0, 0, 0, .0);
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	&__button {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 229px;
		height: 60px;
		background: rgba(0, 0, 0, 0.65);
		color: $primary-font-color;
		border: 2px solid rgba(255, 255, 255, 0.6);
		box-shadow: 11px 11px 12px -1px rgba(0, 0, 0, 0.83);
		transform: translate(-50%, -50%) scaleX(0);
		opacity: 0;
		z-index: 3;
		transition: background-color 200ms ease-in-out,
								box-shadow 200ms ease-in-out,
								transform 400ms ease-in-out,
								opacity 200ms ease-in-out;

		&:hover {
			background-color: #B82121;
			border: 1px solid rgba(255, 255, 255);
		}

		&:active {
			background-color: #B82121;
			box-shadow: 11px 11px 11px -7px rgba(0, 0, 0, 0.83),
			inset 0 0 20px 7px rgba(0, 0, 0, 0.5);
		}

		@include tablet {
			width: 170px;
			height: 60px;
		}

		@include mobile-l {
			opacity: 1;
			transform: translate(-50%, -50%) scaleX(1);
		}
	}

	h3 {
		font-family: "Noto Sans", sans-serif;
		font-weight: 800;
		font-size: 24px;
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
		bottom: 25px;
		opacity: 1;
		z-index: 3;
		color: $primary-font-color;

		@include tablet {
			font-size: 18px;
		}
	}

	::-webkit-scrollbar {
		height: 7px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: #000;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: rgba(222, 222, 222, 0.1);
		border-radius: 5px;
		border: 1px solid rgba(200, 200, 200, 0.2);
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}