@import "styles_lib/mixins";

.gallery {
	width: 100%;
	position: relative;
	display: grid;
	grid-gap: 2px;
	grid-template-columns: repeat(4, 25%);

	@include wrapper(80px, 0px, 20px, 0px, 1920px);

	@include desktop-s {
		@include wrapper(50px, 0px, 20px, 0px, 1920px);
	}

	@include tablet {
		grid-template-columns: repeat(2, 50%);
	}

	@include mobile-l {
		@include wrapper(30px, 0, 45px, 0);
	}

	&__img {
		width: 100%;
		display: block;
		transition: transform, opasity, 300ms ease-in-out;
		opacity: 0.8;

		@include tablet {
			opacity: 1;
		}
	}

	&__img:hover {
		transform: scale(0.95);
		opacity: 1;
	}
}