@import "styles_lib/mixins";

.gallery {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2px;
	@include wrapper(80px, 0px, 20px, 0px, 1920px);

	@include desktop-s {
		@include wrapper(50px, 0px, 20px, 0px, 1920px);
	}

	&__row {
		display: flex;
		gap: 2px;
		width: 100%;
	}

	&__img {
		display: block;
		width: 25%;
		transition: transform, opasity, 300ms ease-in-out;
		opacity: 0.8;
	}

	&__img:hover {
		transform: scale(0.95);
		opacity: 1;
	}
}