@import "styles_lib/variables";
@import "styles_lib/mixins";

.navigation {
	display: grid;
	grid-template-areas:
		"tl tc tr"
		"cl cc cr";
	grid-template-columns: max-content 1fr max-content;

	@include desktop-s {
		grid-template-areas: "tl tr tr"
												 ".  .  cr";
	}

	@include tablet {
		grid-template-areas: "tl tr";
		grid-template-columns: max-content 1fr;
	}

	&__logo {
		width: 133px;
		height: 66px;
		grid-area: tl;
		justify-self: start;

		@include desktop-s {
			grid-area: tl;
		}
	}

	&__list {
		display: flex;
		justify-content: center;
		width: 100%;
		align-self: center;
		justify-self: center;
		grid-area: tc;

		@include desktop-s {
			width: max-content;
			justify-self: end;
			grid-area: tr;
		}

		@include tablet {
			display: none;
		}
	}

	&__list > &__item:not(:first-child) {
		margin-left: 40px;
	}

	&__list > &__item:last-child {
		.navigation__link {
			padding-right: 0;
		}

		.navigation__link:after {
			left: calc(50% + 5px);
		}

		.navigation__link:hover:after {
			width: calc(110% - 10px);
		}
	}

	&__link {
		font-family: "Noto Sans", sans-serif;
		font-weight: 500;
		font-size: 16px;
		color: $primary-font-color;
		transition: color 200ms ease-in-out;
		padding: 10px;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 2px;
			bottom: -5px;
			left: 50%;
			transform: translateX(-50%);
			background-color: $secondary-font-color;
			transition: width 200ms ease-in-out;
		}

		&:hover {
			color: $secondary-font-color;
		}

		&:hover:after {
			width: calc(110% - 20px);
		}
	}

	&__second-side {
		display: flex;
		align-items: center;
		justify-self: end;
		grid-area: tr;

		@include desktop-s {
			grid-area: cr;
		}

		@include tablet {
			grid-area: tr;
		}
	}

	&__phone {
		span {
			@include mobile-l {
				display: none;
			}
		}
	}

	&__socials {
		margin-left: 20px;

		@include mobile-l {
			margin-left: 16px;
			margin-right: 9px;
		}
	}
}