@import "styles_lib/variables";

.navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 130px;

	&__logo {
		width: 133px;
		height: 66px;
	}

	&__list {
		display: flex;
	}

	&__item:not(:last-child) {
		margin-right: 40px;
	}

	&__link {
		font-family: "Noto Sans", sans-serif;
		font-weight: 500;
		font-size: 16px;
		color: $primary-font-color;
		transition: color 200ms ease-in-out;
		padding: 10px;

		&:hover {
			color: $secondary-font-color;
		}
	}

	&__second-side {
		display: flex;
		align-items: center;
	}

	&__socials {
		margin-left: 20px;
	}
}