.navigation {
	display: flex;
	align-items: center;

	&__logo {
		margin: 10px 120px 0 0;
		width: 133px;
		height: 66px;
	}

	&__list {
		display: flex;
	}

	&__item:not(:last-child) {
		margin-right: 60px;
	}

	&__phone {
		display: flex;
		align-items: center;
		img {
			width: 20px;
		}
	}

	&__socials {
		display: flex;

		img {
			width: 20px;
		}
	}
}