@import "styles_lib/variables";

.proposal {
	width: 100%;
	position: relative;

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: 100%;
		padding: 120px 100px 50px 100px;
	}

	&__card-container {
		display: flex;
		justify-content: center;
		width: 100%;
		margin-bottom: 60px;
	}

	&__card-container > &__card:nth-child(1) > &__card-img {
		position: relative;
		z-index: 2;
	}

	&__card-container > &__card:nth-child(2) {
		margin: 0 60px;
	}

	&__card {
		display: flex;
		flex-direction: column;
		width: 287px;
	}

	&__card-img {
		width: 287px;
		height: 287px;
		border-radius: 50%;
		margin-bottom: 40px;
	}

	&__card-description {
		font-family: "Noto Sans", sans-serif;
		text-align: center;
		font-weight: 700;
		font-size: 18px;
		line-height: 25px;
		color: $primary-font-color;
	}

	&__decoration {
		position: absolute;

		&_1 {
			left: 0;
			top: 0;
			transform: translateY(-25%);
		}

		&_2 {
			right: 0;
			top: 50%;
			transform: translateY(-25%);
		}

		&_3 {
			left: 0;
			bottom: 0;
			transform: translate(10%, 50%);
		}

		&_4 {
			z-index: 1;
			left: -25%;
			top: -20%;
		}
	}
}

